{{#partial "content"}}
    <h5 class="text-center">Success! <a href="/">Go back home</a></h5>
{{/partial}}



{{#partial "styles"}}
    <link rel='stylesheet' type="text/css" href='/css/styles.css'>
{{/partial}}

{{> layout.hbs}}